* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

